<div class="filter-wrap">
    <input type="hidden" class="collection_name" value="{{ results.title |  handleize }}">
    <div class="mobile-heading">
        <h3 class="filter-heading">Filters</h3>
        <span class="filter-close">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                <path d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"></path>
            </svg>
        </span>
    </div>
    <div class="filter-items">
    {%- for filter in results.filters -%}
        {% case filter.type %}
        {% when 'boolean', 'list' %}
            <div id="filter-item-{{ forloop.index }}" class="filter-item">
                <div class="filter-item-heading" onclick="filterActive(event, this)">
                    <span>{{ filter.label | escape }}</span>
                    <span class="filter-arrow">
                        <svg viewBox="0 0 320 512"> 
                            <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                        </svg>
                    </span>
                </div>
                <div id="filter-item-info" class="filter-item-info">
                    {%- liquid
                        assign sorted_values = filter.values
                        # Keep the selected values grouped together when operator is AND
                        if filter.operator == 'AND'
                            assign active_filter_values = filter.values | where: 'active', true
                            assign inactive_filter_values = filter.values | where: 'active', false
                            assign sorted_values = active_filter_values | concat: inactive_filter_values
                        endif
                    -%}
                    {%- for value in sorted_values -%}
                        {% liquid
                        assign is_disabled = false
                        if value.count == 0 and value.active == false
                            assign is_disabled = true
                        endif
                        %}
                        <div class="filter-info-item">
                            <label for="filter-{{ filter.label | handleize }}-{{ forloop.index }}" class="filter_item_label{% if is_disabled %} disabled{% endif %} {% if value.active %} active{% endif %}">
                                <input class="filter-item-checkbox" type="checkbox" name="{{ value.label |  handleize }}"
                                    value="{{ value.value | replace: " ", "+" }}" onclick="filterCheck()" data-option="{{ value.param_name }}"
                                    id="filter-{{ filter.label | handleize }}-{{ forloop.index }}"
                                    {% if value.active %} checked {% endif %}
                                    {% if is_disabled %} disabled{% endif %}>
                                <span class="facet-checkbox-text" aria-hidden="true"> {{- value.label | escape }}</span>
                            </label>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            {% when 'price_rangedd' %}
            <div class="filter-price">
                {%- render 'price-filter', filter: filter -%}
            </div>
        {% endcase %}
    {% endfor %}
    </div>
</div>