<div class="filter-item-heading">
    <span>{{ filter.label | escape }}</span>
    <span class="filter-arrow">
        <svg viewBox="0 0 320 512"> 
            <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
        </svg>
    </span>
</div>
<div class="price-filter-wrapper">

{%- assign max_price = filter.range_max | times: 0.01 | floor -%}
   
  <div class="price-filter-slider">
    <div class="progress"></div>
  </div>
  <div class="range-input">
    <input type="range" class="range-min" min="0" max="{{ max_price }}" value="0" step="10">
    <input type="range" class="range-max" min="0" max="{{ max_price }}" value="{{ max_price |  minus: 50 }}" step="10">
  </div>
  <div class="price-filter-input">
    <div class="price-filter-field">
        <div class="filter-price-input">
            <span class="price-currency">{{ cart.currency.symbol }}</span>
            <input type="number" class="input-min" value="0">
        </div>
        <span>Min</span>
    </div>
    <div class="separator">-</div>
    <div class="price-filter-field">
        <div class="filter-price-input">
            <span class="price-currency">{{ cart.currency.symbol }}</span>
            <input type="number" class="input-max" value="{{ max_price |  minus: 50 }}">
        </div>
        <span>Max</span>
    </div>
  </div>
</div>
